svg {
    font: 10px sans-serif;
}

.axis path {
    display: none;
}

.axis line {
    stroke: #000;
    shape-rendering: crispEdges;
}

.station line {
    stroke: #ddd;
    stroke-dasharray: 1,1;
    shape-rendering: crispEdges;
}

.station text {
    text-anchor: end;
}

.train path {
    fill: none;
    stroke-width: 1.5px;
}

.train circle {
    stroke: #fff;
}

.train .N path { stroke: rgb(34,34,34); }
.train .N circle { fill: rgb(34,34,34); }

.train .L path { stroke: rgb(183,116,9); }
.train .L circle { fill: rgb(183,116,9); }

.train .B path { stroke: rgb(192,62,29); opacity: 0.3; }
.train .B circle { fill: rgb(192,62,29); opacity: 0.3;}
.train .B path:hover { stroke: rgb(192,62,29); opacity: 1; }
.train .B circle:hover { fill: rgb(192,62,29); opacity: 1;}

.svg_tooltip{
    position: absolute;
    /*width: auto;*/
    /*height: auto;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #343434;
    color: #a1a1a1;
    z-index: 10;
    font-size: 1em;
    padding: 8px 14px;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.no_data_tip{
    background-color: #343434;
    color: #a1a1a1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;
    font-size: 3em;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}