body{
    padding-top: 70px;
    padding-bottom:70px;
    color: #d8d8d8;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    background: #f6f6f6 url('../img/body-bg.gif') repeat 50% 0;
}

.top-menu {
    font-family: Arial, sans-serif;
    padding: 4px 0;
    background: #343434 url('../img/top-menu-bg.gif') repeat-x 50% 100%;
    border-bottom: solid 3px #83a400;
}
.footer-menu {
    /*width: 100%;*/
    background: #343434 url('../img/footer-menu-bg.gif') repeat-x 50% 0;
    border-top: solid 3px #83a400;
    padding: 15px 0;
}
/*Title style*/
.navbar-default .navbar-brand{
    font-size: 18px;
}
.navbar-default .navbar-brand {
    color: #83a400;
}
.navbar-default .navbar-brand:hover{
    color: #5da405;
}
/*Title style end*/

.navbar-default .navbar-nav>li>a{
    font-size: 14px;
}

.top-menu a ,
.footer-menu a,
.navbar-default .navbar-nav>li>a{
    color: #a1a1a1;
    margin-left: 4px;
}


a:hover,
.top-menu a:hover,
.footer-menu a:hover
{color: #ddd;}
/*#top-menu .top-menu li{list-style: none;}*/

.dropdown-menu {
    background-color: #343434;
}

.dropdown-menu>li>a{
    color: #a1a1a1;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus
{
    color: #ddd;
    background-color: #83a400;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #83a400;
    outline: 0;
}
.navbar-default .navbar-nav > li > a
{
    border-bottom: solid 3px transparent;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ddd;
    background-color: transparent;
    border-bottom: solid 3px #83a400;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #ddd;
    background-color: transparent;
    border-bottom: solid 3px #83a400;
}


/*multilevel drop menu styles*/
.dropdown:hover .menu-top {
    display: block;
}

.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ddd;
}

.dropdown-submenu.open > a,
.dropdown-submenu.open > a:focus,
.dropdown-submenu:hover > a:hover
{
    color: #ddd;
    background-color: #83a400;
}
/*.dropdown-submenu > a,*/
/*.menu-top > a{*/
    /*color: red;*/
/*}*/

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/*multilevel drop menu styles end*/


/*datepicker drop down*/
.datepicker-dropdown{
    background-color: #404040;
}
/*datepicker today button hover*/
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
    color: #000;
    background: #eeeeee;
}
/*datepicker day hover*/
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    color: #000;
  background: #eee;
  cursor: pointer;
}

/*datepicker day selected bg*/

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #83a400;
  background-image: -moz-linear-gradient(to bottom, #83C200, #5da405);
  background-image: -ms-linear-gradient(to bottom, #83C200, #5da405);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#83C200), to(#5da405));
  background-image: -webkit-linear-gradient(to bottom, #83C200, #5da405);
  background-image: -o-linear-gradient(to bottom, #83C200, #5da405);
  background-image: linear-gradient(to bottom, #83C200, #5da405);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #5da405 #5da405 #15a400;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #83a400;
}

/*datepicker month hover bg*/
.datepicker table tr td span:hover {
  color:#000;
    background: #eeeeee;
}
/*datepicker month selected bg*/
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #83a400;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
background-color: #83a400;
  background-image: -moz-linear-gradient(to bottom, #83C200, #5da405);
  background-image: -ms-linear-gradient(to bottom, #83C200, #5da405);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#83C200), to(#5da405));
  background-image: -webkit-linear-gradient(to bottom, #83C200, #5da405);
  background-image: -o-linear-gradient(to bottom, #83C200, #5da405);
  background-image: linear-gradient(to bottom, #83C200, #5da405);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
  border-color: #5da405 #5da405 #15a400;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.sidebar {
    margin: 70px 0;
}